.player {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span {
    font-size: 24px;
    color: white;
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
}

.player-active {
    background-color: rgba(245, 207, 61, 0.8) !important;
}